/.vs
/CarShowroom/obj
/CarShowroom.Server/obj
/CarShowroom.Entities/obj
/CarShowroom/bin
/CarShowroom.Server/bin
/CarShowroom.Entities/bin

appsettings.*.json
packages/

CarShowroom.sln.DotSettings.user
CarShowroom.sln.DotSettings